.wrapper {
  padding: 16px;
}

.result-title {
  font-size: 24px;
}

.player {
  margin-top: 12px;
}

.player__name {
  font-size: 16px;
}

.player__point {
  display: inline-block;
  width: 48px;
  height: 12px;
  background-color: green;
  border: solid 1px #000;
}

.player__point + .player__point {
  margin-left: 2px;
}

.race-btn,
.reset-btn {
  padding: 4px 12px;
  margin-right: 2px;
  margin-top: 12px;
  font-weight: 600;
  border: solid 1px #000;
}
